@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yellowtail&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	color: #333;
	padding:0;
	margin:0;
	background-color: #CBC3E3;
}

/* Left Column w/ Polaroid Images */
main {
	width: 30vw;
}

article{
	display: flex;
	width: 40vw;
	align-items: center;
	justify-content: center;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1{
	font-family: 'Yellowtail', cursive;
	font-size: 45px;
}

h3{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
	line-height: 1.5;
}

.polaroid {
	background-color: white;
	padding: 1rem;
	border: 1px solid #ddd;
	box-shadow: 0 0.2rem 1.2rem rgba(1,51,64,1);
	height: 60rem;
	width: 30vw;
	display: flex;
	flex-flow: column;
	/* justify-content: center; */
	align-items: center;
	margin-top: 15px;
}

.title{
	text-align: center;
}
.odd {
    transform: rotate(-4deg);
}

.even {
    transform: rotate(4deg);
}

.polaroid > img{
	width: 90%;
	height: 50%;
	margin-top: 20px;
	margin-bottom: 10px;
	filter: grayscale(100%);
	border: 2px dotted grey;
	object-fit: cover;
}

.polaroid:hover {
	filter: none;
	transform: scale(1, 1) rotate(0deg);
	transition: all 0.35s;
	z-index: 5;
}

.polaroid:hover img{
	filter: none;
}

/* Map on right column */
figure {
	display: block;
	margin: 0;
	width: 60vw;
	height: 100vh;
	position: fixed;
	top:0;
	right:0;
	overflow: hidden;
    background-color: lightblue;
}

figure img {
	position: absolute;
	transition: all 3s ease;
    
}

figure figcaption{
	width: 25%;
	position: absolute;
	left: 50%;
	top: 105%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 20px;
	line-height: 1.5em;
}

.animate {
	animation-duration: 700ms;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.enterup {
	animation-name: enterup;
	animation-delay: .5s;	
}

.enterdown {
	animation-name: enterdown;
	animation-delay: .5s;
}

.exitup {
	animation-name: exitup;
}

.exitdown {
	animation-name: exitdown;
}

@keyframes enterup {
	0%{
		top: 105%;
	}
	100% {
		top: 50%;
	}
}

@keyframes enterdown {
	0%{
		top: -20%;
	}
	100% {
		top: 50%;
	}
}

@keyframes exitup {
	0%{
		top: 50%;
	}
	100% {
		top: -20%;
	}
}

@keyframes exitdown {
	0%{
		top: 50%;
	}
	100% {
		top: 105%;
	}
}

.sect1{
	/* width: 147vh;  */
	top: -810px;
	left: 650px;
	/* transform:translateX(-50%); */
}

/* Deciding where to zoom in */
.sect1,
.sect2,
.sect3,
.sect4,
.sect5,
.sect6,
.sect7{
    width: 4500px;
}

.sect2 {
	top: -930px;
	left: 260px;
}

.sect3 {
    top: -830px;
	left: 370px;
}

.sect4 {
	top: -1680px;
	left: -1800px;
}

.sect5 {
    top: -600px;
	left: -2070px;
}

.sect6 {
	top: -790px;
	left: 210px;
}

.sect7 {
    top: 320px;
	left: -3660px;
}

/************** CSS Loader ****************/

#preloader{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: radial-gradient(circle, rgba(1,51,64,1) 0%, rgba(193,242,254,1) 100%);
	color: #fff;
	font-size: 3em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#preloader div:first-of-type {
	margin-bottom: 50px;
}

.fadeout {
	animation-name: fadeout;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

@keyframes fadeout {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Design For 1200 by 750 */
@media screen and (max-width: 1200px) {
	.polaroid {
		height: 40rem;
	}

	.polaroid > img{
		width: 90%;
		height: 40%;
	}
	.sect1 {
		top: calc(-1670px + 100vh);
		left: calc(-1000px + 100vw);
	}

	.sect2 {
		top: calc(-1790px + 100vh);
		left: calc(-1175px + 100vw);
	}
	
	.sect3 {
		top: calc(-1700px + 100vh);
		left: calc(-1080px + 100vw);
	}
	
	.sect4 {
		top: calc(-2560px + 100vh);
		left: calc(-2600px + 45vw);
	}
	
	.sect5 {
		top: calc(-1530px + 100vh);
		left: calc(-2880px + 45vw);
	}
	
	.sect6 {
		top: calc(-1670px + 100vh);
		left: calc(-1230px + 100vw);
	}
	
	.sect7 {
		top: calc(-640px + 100vh);
		left: calc(-5125px + 100vw);
	}

	h3{
		font-size: 20px;
		line-height: 1.5;
	}

	figure figcaption{
		width: 20%;
	}
}

/* Design For Laptop */
@media screen and (max-width: 1024px)  and (min-width: 769px) {
	.polaroid > img{
		width: 80%;
		height: 35%;
	}
	.sect1 {
		top: calc(-1660px + 100vh);
		left: calc(-700px + 100vw);
	}

	.sect2 {
		top: calc(-1890px + 100vh);
		left: calc(-890px + 100vw);
	}
	
	.sect3 {
		top: calc(-1700px + 100vh);
		left: calc(-800px + 100vw);
	}
	
	.sect4 {
		top: calc(-2550px + 100vh);
		left: calc(-2580px + 45vw);
	}
	
	.sect5 {
		top: calc(-1500px + 100vh);
		left: calc(-2800px + 45vw);
	}
	
	.sect6 {
		top: calc(-1670px + 100vh);
		left: calc(-950px + 100vw);
	}
	
	.sect7 {
		top: calc(-650px + 100vh);
		left: calc(-4850px + 100vw);
	}

	h3{
		font-size: 20px;
		line-height: 1.5;
	}
}
  
/* Design For Tablet */
@media screen and (max-width: 768px) and (min-width: 481px) {
	.polaroid > img{
		width: 90%;
		height: 50%;
	}

	.sect1 {
		top: calc(-1600px + 100vh);
		left: calc(-400px + 100vw);
	}

	.sect2 {
		top: calc(-1900px + 100vh);
		left: calc(-600px + 100vw);
	}
	
	.sect3 {
		top: calc(-1750px + 100vh);
		left: calc(-550px + 100vw);
	}
	
	.sect4 {
		top: calc(-2550px + 100vh);
		left: calc(-2510px + 45vw);
	}
	
	.sect5 {
		top: calc(-1500px + 100vh);
		left: calc(-2800px + 45vw);
	}
	
	.sect6 {
		top: calc(-1750px + 100vh);
		left: calc(-720px + 100vw);
	}
	
	.sect7 {
		top: calc(-630px + 100vh);
		left: calc(-4650px + 100vw);
	}

	h1{
		font-size: 25px;
	}

	h3{
		font-size: 15px;
		line-height: 1.5;
	}

	.polaroid {
		height: 37rem;
	}

	.polaroid > img{
		height: 40%;
	}
}
  
/* Design For Mobile */
@media screen and (max-width: 480px) {
	main {
		width: 100vw;
	}

	article{
		width: 100vw;
	}

	.polaroid > img{
		width: 90%;
		height: 40%;
	}
	
	.polaroid {
		height: 40rem;
		width: 70vw;
	}

	figure {
		display: none;
		overflow: hidden;
	}

	h3{
		line-height: 1.7;
	}
}