@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Design for Desktop 1200px x 750px */

.banner {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  line-height: 0;
  width: 90%;
  height: 250px;
  margin: auto;
  background-image: url("images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D9F0FA;
}

.info {
  line-height: 0.6;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  padding-top: 5%;
}

#name {
  text-indent: 30%;
  font-size: 40px;
}
#course {
  text-indent: 40%;
}

#year { 
  text-indent: 55%;
}

.bannerBg {
  border-radius: 3%;
}

h2{
  font-family: 'Lobster', cursive;
  font-size: 1.7em;
}

body {
  margin: 5% 4% 0; /* top, sides, bottom */
  background: linear-gradient(230deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
  font-family: 'Bebas Neue', cursive;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
  
.flex-container > div {
  background-color: #f1f1f1;
  margin: 3% 1% 2%;
  padding: 0.5% 1.5% 1%;
  width: 25%;
  line-height: 1.5;
  border-top: 0.3em solid black;
  border-bottom: 0.3em solid black;
}

#left-col {
  background-color: #BBA0CA;
}

#left-col > .menuItem {
  color: #800080;
}

#mid-col {
  background-color: #FFF0A7;
}

#mid-col > .menuItem {
  color: #cc9900;
}

#right-col {
  background-color: #B5D8CC;
}

#right-col > .menuItem {
  color: #006600;
}

ul {
  list-style-type: circle;
  font-size: 1.2em;
  margin-bottom: 1%;
}

a {
  text-decoration: none;
  color: black;
}

#left-col > ul > a{
  box-shadow: inset 0 0 0 0 black;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#left-col  > ul > a:hover {
  /* color: #F3DFC1; */
  color: #800080;
  box-shadow: inset 200px 0 0 0 black;
}

#mid-col > ul > a{
  box-shadow: inset 0 0 0 0 black;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#mid-col  > ul > a:hover {
  /* color: #947EB0; */
  color: #cc9900;
  box-shadow: inset 200px 0 0 0 black;
}

#right-col > ul > a{
  box-shadow: inset 0 0 0 0 black;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#right-col  > ul > a:hover {
  color: #006600;
  box-shadow: inset 200px 0 0 0 black;
}

.menuItem {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 0;
}

i {
  transform: translate(-70%, 50%);
}
.pan {
    width: 75%;
    height: 60%;
    margin: auto;
    background: url('https://images.unsplash.com/photo-1587440871875-191322ee64b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80');
    background-size: auto 100%;
    border-radius: 50%;
    animation: pan 3s linear infinite alternate;
    animation-play-state: paused;
  }
  
  .pan:focus,
  .pan:hover {
    animation-play-state: running;
  }
  
  @keyframes pan {
      to { background-position: 100% 0; }
  }

svg {
  width:100%;
  position:absolute;
  bottom: 0; 
  left:0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

footer {
  width:100%;
  position:fixed;
  left:0;
  right: 0;
  bottom: 0;
  z-index: -1; 
}

.foot {
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
  
.left{
  margin-right: auto;
  margin-left: 0;
}

.right {
  display: flex;
  flex-flow: row wrap;
  line-height: 0;
}

/* Design For Laptop */
@media screen and (max-width: 1024px)  and (min-width: 769px) {
  .banner {
    height: 200px;
    background-image: url("images/laptop.png");
    border-radius: 0%;
  }

  .menuItem {
    font-size: 12px;
  }

  .flex-container > div {
    margin: 5% 1% 1%;
    padding: 3% 1.5% 2%;
    font-size: 12px;
  }

}

/* Design For Tablet */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .banner {
    height: 200px;
    background-image: url("images/tablet.png");
    border-radius: 0%;
  }

  .info {
    line-height: 0.6;
    font-size: 20px;
    padding-top: 2%;
  }

  #name {
    font-size: 35px;
  }

  .flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .flex-container > div {
    width: 80%;
    line-height: 2;
    flex: 1;
    flex-basis: 500px;
    margin: 5% 0% 1%;
    padding: 5% 1.5% 4%;
    font-size: 20px;
  }

  .menuItem {
    font-size: 30px;
  }

  #left-col > ul, #mid-col > ul, #right-col > ul {
    font-size: 25px;
    text-align: center;
    list-style-type: none;
  }

  #right-col {
    margin-bottom: 15%;
  }
}

/* Design For Mobile */
@media screen and (max-width: 480px) {
  .banner {
    height: 200px;
    margin: auto;
    background-image: url("images/mobile.png");
    background-size: cover;
    background-color: #D9F0FA;
    border-radius: 15% 0%;
  }
  .info {
    line-height: 0.2;
    font-size: 15px;
    /* line-height: 1.5;
    padding-top: 2%; */
  }
  #name {
    text-indent: 0%;
    text-align: center;
    font-size: 20px;
  }
  #course, #year {
    text-indent: 0%;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .flex-container > div {
    width: 90%;
    line-height: 2;
    flex: 1;
    flex-basis: 370px;
    padding-top: 5%
  }
  #right-col {
    margin-bottom: 15%;
  }
  .foot {
    margin-bottom: -3%;
  }
}