@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 250px;
  border: 1px solid green;
}

.test{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%;
  height: 250px;
  margin: auto;
  background-color: white;
}

h2{
  font-family: 'Bebas Neue', cursive;
}



body {
  margin: 5%;
  background: linear-gradient(230deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
  font-family: 'Silkscreen', cursive;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
  
.flex-container > div {
  background-color: #f1f1f1;
  margin: 1%;
  padding: 1.5%;
  width: 20%;
  line-height: 2;
  border-top: 0.3em solid black;
  border-bottom: 0.3em solid black;
}

#left-col {
  background-color: #BBA0CA;
}

#mid-col {
  background-color: #FFF0A7;
}

#right-col {
  background-color: #B5D8CC;
}

ul {
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: black;
}

.pan {
    width: 80%;
    height: 45%;
    margin: auto;
    background: url('https://images.unsplash.com/photo-1587440871875-191322ee64b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80');
    background-size: auto 100%;
    border-radius: 50%;
    animation: pan 10s linear infinite alternate;
    animation-play-state: paused;
  }
  
  .pan:focus,
  .pan:hover {
    animation-play-state: running;
  }
  
  @keyframes pan {
      to { background-position: 100% 0; }
  }