header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 250px;
  border: 1px solid green;
}

.test{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%;
  height: 250px;
  background-color: red;
}

body {
  margin: 5%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: lightgrey;
}
  
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  width: 20%;
  line-height: 2;
  border-top: 0.3em solid black;
  border-bottom: 0.3em solid black;
}

#left-col {
  background-color: #BBA0CA;
}

#mid-col {
  background-color: #FFF0A7;
}

#right-col {
  background-color: #B5D8CC;
}

ul {
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: black;
}