

body{
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    color: #2f2f2f;
    margin-top: 2%;
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 5rem;
    text-transform: uppercase;
    display: inline-block;
    line-height: 5rem;
    margin-bottom: 1rem;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.center {
    text-align: center;
}

figcaption {
    text-align: center;
}

a {
    color: black;
}

.web {
    font-style: italic; 
    text-decoration: none;
    background-color: lightyellow;
}
.head{
    text-align: center;
    position: relative;
}

.headline{
    font-size: 1.5rem;
}

.col {
    margin-top: 5%;
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0;
}

.content {
    column-count: 3;
    column-rule: 2px solid black;
    column-gap: 3rem;
    margin: 2rem 3rem 1rem;
    text-align: justify;
    hyphens: auto;
    line-height: 1.5;
}

#footer {
    position: absolute;
    background: linear-gradient(230deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: black;
    bottom: 1;
    width: 100%;
}

.foot {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
    
.left{
    margin-right: auto;
    margin-left: 0;
}
  
.right {
    display: flex;
    flex-flow: row wrap;
    line-height: 0;
}

.right > a {
    text-decoration-line: none;
    color: black;
}

.sign {
    font-size: 20px;
}