@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

header {
    text-align: center;
}

main {
    height: 20rem;
    padding: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
  
a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    width: 50em;
    padding: 2em;
    margin-bottom: 5em;
    box-shadow: 0 0 1.25em #DDC216;
    border-radius: 0.5em;
    background-color: #FFF9D2;
}

.choice {
    width: 100%;
    margin-top: 1em;
}

.choice input {
    width: 100%;
    border: 0.09em solid #DDC216;
    background-color: white;
    padding: 0.31em;
    font-size: 1.125em;
    margin-top: 0.31em;
    border-radius: 0.25em;
  }

.view {
    display: none;
    height: 20em;
}

.view.active {
    display: block;
}

.pg-1 > p{
    line-height: 1.5;
}

.pg-4 > p{
    line-height: 2;
}

span {
    color: purple;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: purple wavy underline;
}

.previous {
    background-color: white;
    color: black;
    border-radius: 0.5em;
    border: solid black 0.1em;
    width: 6em;
    margin-top: 2em;
}

.next {
    background-color: black;
    color: white;
    border-radius: 0.5em;
    border: solid black 0.1em;
    width: 6em;
    margin-top: 2em;
    transform: translateX(600%);
}

.start {
    margin-top: 1em;
    transform: translateX(360%);
}

#submit {
    background-color: black;
    color: white;
    border-radius: 0.5em;
    border: solid black 0.1em;
    width: 6em;
    transform: translateX(600%);
}

#tryAgain {
    background-color: #DDC216;
    color: black;
    border-radius: 0.5em;
    width: 6em;
}

.circles{
    display: flex;
    justify-content: center;
}

.step {
    height: 1em;
    width: 1em;
    margin: 0 0.5em;
    background-color: #DDC216;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.6;
}

.step.active {
    opacity: 1;
}

input.invalid {
    background-color: lightcoral;
}

.keyImg {
    background-image: url("images/type.svg");
    background-color: white;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    height: 300px;
}
.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(35%);
    font-family: 'Special Elite', cursive;
}

button {
    background-color: black;
    border: none;
    display: inline-block;
    padding: 0.5% 0.5%;
    margin: 0.1em;
    font-size: 1em;
    color: #fff;
    width: 2.5em;
    height: 2.5em;
    border-radius: 2em;
}

.delete, .shift, .space {
    font-size: 1em;
    text-transform: capitalize;
}

.delete { 
    width: 6.25em; 
}

.shift { 
    width: 4.375em; 
}

.space { 
    width: 25em; 
}

@media screen and (max-width: 480px) {
    .keyboard {
        display: flex wrap;
        width: 450px;
        height: auto;
        flex-direction: column;
        margin: 0.1em;
        font: 10px arial;
      }
}