
body {
    background-color: #000;
    color: white;
    font-family: 'EB Garamond', serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.ball-bg {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -1;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    color: #000;
    margin: 5% auto; /* 5% from the top and centered */
    /* padding: 20px; */
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    top: 12%;
    right: 12%;
    color: #aaa;
    font-size: 50px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.instruct {
    text-align: left;
    height: 80vh;
}
.instruct > h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1%;
    
}

.instruct > p {
    margin-top: 0;
    margin-bottom: 1%;
    line-height: 2;
    font-size: 18px;
    max-width: 750px;
    min-width: 100px;
}

.instruct > ol {
    margin-top: 0;
    margin-bottom: 1%;
    line-height: 2;
    font-size: 18px;
}

ol > li::marker {
    font-weight: bold;
    font-size: 19px;;
}

h1 {
    margin: 0;
    font-size: 4rem;
    width: 80%;
    margin: 15% 10% 5% 10%;
    text-align: center;
}

.task{
    margin: 2% 0 0 0;
    text-align: center;
    width: 100vw;
}

header {
    text-align: center;
}

#header-top > button{
    font-size: 1rem;
    width: 9rem;
    padding: 0.5rem 0.5rem;
    position: absolute;
    top: 0;
    margin: 3% 0 0 7%;
}

button {
    border: none;
    border-radius: 1rem;
    width: 30%;
    padding: 1rem 2rem;
    font-size: 36px;
    margin: 0% 5%;
}

.btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

#landing {
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

#players {
    margin: 2% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
}

.player {
    position: relative;
}
.player > img {
    width: 300px;
    border-radius: 20%;
    box-shadow: 0 0 5px 10px white;
}

#play1 > img{
    transform: scaleX(-1);
}

.winner{
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    font-weight: bold;
}

.text{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

#dice{
    display: flex;
    justify-content: space-between;
    transform: scale(0.9);
    margin: 1%;
    padding: 50px;
}

#dice > img{
    padding: 0 2%;
}

.card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* transform: scale(0.9); */
    transform-style: preserve-3d;
    transition: all  0.8s ease;
    /* margin: 1%; */
}

.card > img{
    margin: 0 2%;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    background-color: #e73c7e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotateY(0deg);
    border-radius: 2rem;
}

.front {
    position: absolute;
    /* width: 100%; */
    backface-visibility: hidden;
    background-color: #23d5ab;
    color: #000;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotateY(-180deg);
    border-radius: 2rem;
}

.flipCardBack {
    transform: rotateY(180deg);
}

.flipCardFront {
    transform: rotateY(0deg);
}

.score {
    font-size: 3em;
    color: white;
    position: absolute;
    margin-left: 1%;
}

#actions {
    display: flex;
    justify-content: center;
    text-align: center;
}

#actions > button{
    font-size: 1.5rem;
    width: 12%;
    padding: 0.8rem 0.8rem;
    margin: 0 1%;
}

#game {
    text-align: center;
}

#gamecontrol {
    background:rgba(255,255,255, 0.3);
    height: 90vh;
}
  
.popup{
    width: 70%;
    height: 80%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    border-radius: 6px;
    background-color: yellow;
    color: #000;
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}

.popup > h1 {
    margin: 0;
    padding-top: 2%;
    width: 100%;
    text-align: center;
}

.popup > h2 {
    width: 90%;
    margin: 0 5%;
    text-align: center;
    line-height: 2;
}

.popup > button {
    margin-top: 2%;
}

.imgRow {
    display: flex;
    flex-flow: row;
    justify-content: center;
    transform: scale(0.5);
}

.imgRow > img{
    padding: 0 2%;
    border-radius: 5rem;
}

.imgRow > img:nth-child(1){
    filter: grayscale(100%);
    z-index: 2;
}

.imgRow > img:nth-child(2){
    transform: scale(1.5);
    z-index: 3;
}

.imgRow > img:nth-child(3){
    filter: grayscale(100%);
    z-index: 2;
}

.winGif{
    height: 280px;
    width: auto;
}
  
.open{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}

#continue1, #continue2, #continue3 {
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    width: 50%;
    padding: 1rem 2rem;
    font-size: 36px;
    margin: 0% 5%;
    color: blue;
}

#again1, #again2, #again3 {
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    width: 50%;
    padding: 1rem 2rem;
    font-size: 36px;
    margin: 0% 5%;
    color: red;
}

.red{
    color: red;
}

main{
    min-height: calc(100vh + 50px);
}

#footer {
    position: absolute;
    background: white;
    color: black;
    bottom: 1;
    width: 100%;
}

#footer:hover {
    background: linear-gradient(230deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.foot {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
    
.left{
    margin-right: auto;
    margin-left: 0;
}
  
.right {
    display: flex;
    flex-flow: row wrap;
    line-height: 0;
}

.right > a {
    text-decoration-line: none;
    color: black;
}

.sign {
    font-size: 20px;
}

.characters {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
}

.charText {
    margin: 2% 5% 0% 5%;
}

.option {
    position: relative;
    width: 200px;
    margin: 1.5em;
    box-shadow: 0 15px 30px -10px white;
    cursor: pointer;
}

#option1{
    background: linear-gradient(180deg, #7F0909 0%, #7F0909 50%, #FFC500 100%);
}

#option2{
    background: linear-gradient(180deg, #000000 0%, #000000 40%, #EEE117 100%);
}

#option3{
    background: linear-gradient(180deg, #000A90 0%, #000A90 40%, #946B2D 100%);
}

#option4{
    background: linear-gradient(180deg, #0D6217 0%, #0D6217 20%, #AAAAAA 100%);
}

.optText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.optText h2 {
    font-size: 1.8em;
    margin: 4px auto 12px;
}

.optText p {
    color: black;
    margin: 0 0 0 0;
    padding-left: 10%;
    align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    width: 90%;
    font-size: 1.1em;
    line-height: 2;
    font-weight: bold;
}

.optText ul {
    color: white;
    display: block;
    list-style-type: "\01FA84";
    margin: 0 0 0 0;
    padding-left: 15%;
    align-self: flex-start;
    font-size: 1.1em;
    line-height: 2;
    font-weight: bold;
}

.optImg {
    position: relative;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.optImg img {
    max-width: 95%;
    max-height: 95%;
    transition: max-width 0.4s, max-height 0.4s;
    padding-top: 2%;
}

.option:hover .optImg img {
    max-width: 120%;
    max-height: 120%;
}

.option:hover .optText h2 {
    color: black;
    z-index: 1;
}

.selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.5s;
}

.option:hover .selector {
    opacity: 1;
}

.selector button {
    background-color: black;
    color: #fff;
    outline: none;
    cursor: pointer;
    padding: 12px 20px;
    width: 70%;
    transform: translateY(-75%);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: bolder;
    transition: opacity 0.3s;
}

.selector button:hover {
    opacity: 0.8;
}